@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 220, 245;
  --background-end-rgb: 250, 220, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.author-tag {
  border-radius: 20px;
  background-color: orchid;
}

.line-text {
  color: gray;
}

.phrase-input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phrase-button {
  background-color: brown;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.complete-button {
  background-color: lightseagreen;
  color: white;
  border-radius: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
